<%- include("header") -%>

  <div class="container">
    <form class="newList" action="/add" method="post">
      <label id="newListLabel" for="goto">Get your custom todo-list: </label>
      <input id="goto" type="text" name="newListName" autocomplete="off">
      <button id="newBtn" type="submit" name="createListBtn">GO</button>
    </form>
  </div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" name="deleteBtn" value= <%=newListItems[i]._id%>>
          <p><%=  newListItems[i].name  %></p>
          <input type="hidden" name="hiddenBtn" value=<%=listTitle%>>
        </div>
      </form>
    <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button id="AddBtn" type="submit" name="submitButton" value=<%=listTitle%>>+</button>
      </form>
  </div>

<%- include("footer") -%>
